<footer>
    <h3>Siguenos en nuestras redes:</h3>
    <div class="social-media">
        <div class="icon-footer">
            <i class="fab fa-facebook"></i>
        </div>
        <div class="icon-footer">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="icon-footer">
            <i class="fab fa-twitter"></i>
        </div>
    </div>
</footer>