<header>
    <div class="navbar">
        <div class="navbar-top">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo">
               <img src="\images\Jacket Shop-logo-white.png" alt="logo blanco">
            </div>
            <div class="icons-navbar">
                <div class="user-icon">
                    <div class="login-user-div">
                    <i class="fas fa-user"></i>
                    <p>Ingresa</p>
                    </div>
                    <div class="hidden-login">
                    <ul>
                        <div class="account">
                            <div class="login-singin">
                                <div class="login">Ingresa</div>
                                <div class="singin"><a href="/user/register"><span>Crear cuenta</span></a></div>
                            </div>
                            <form class="form-login">
                                <div class="user-input">
                                    <input class="user" name="user-login" type="email" placeholder="Email">
                                </div>
                                <div class="password-input">
                                    <input class="password" name="user-login" type="password"
                                        placeholder="Contraseña">
                                </div>
                                <div class="forgot-password">
                                    <a href="#">Olvidaste tu contraseña?</a>
                                </div>
                                <div class="login-btn">
                                    <button>Ingresar</button>
                                </div>
                            </form>
                            <div class="login-with-socials">
                                <div class="title-socials">Ingresa con:</div>
                                <div class="socials-btn">
                                    <button class="social-btn-f"><i
                                            class="fab fa-facebook-f"></i><span>Facebook</span></button>
                                    <button class="social-btn-g"><i
                                            class="fab fa-google"></i><span>Google</span></button>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                </div>
                <div class="shopping-car-icon"><a href="/products/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Carrito</p>
                </a></div>
                <div class="mode-icon">
                    <i class="fas fa-sun"></i>
                    <p>Modo</p>
                </div>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <div class="search">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
        <div class="navbar-bottom">
            <div class="list-navbar">
                <ul>
                    <div class="dropdown-cat-header">
                        <li type="none"><button class="dropdown-btn"><a href="#">Mujer</a></button></li>
                        <div class="dropdown-content">
                            <a href="#">Jean</a>
                            <a href="#">Cuero</a>
                            <a href="#">Tela</a>
                            <a href="#">Termicas</a>
                        </div>
                    </div>
                    <div class="dropdown-cat-header">
                        <li type="none"><button class="dropdown-btn"><a href="#">Hombre</a></button></li>
                        <div class="dropdown-content">
                            <a href="#">Jean</a>
                            <a href="#">Cuero</a>
                            <a href="#">Tela</a>
                            <a href="#">Termicas</a>
                        </div>
                    </div>
                    <div class="dropdown-cat-header">
                        <li type="none"><button class="dropdown-btn"><a href="#">Lo nuevo</a></button></li>
                        <div class="dropdown-content">
                            <a href="/">Link 1</a>
                            <a href="/products/list">Link 2</a>
                            <a href="#">Link 3</a>
                            <a href="#">Link 4</a>
                        </div>
                    </div>
                    <div class="dropdown-cat-header">
                        <li type="none"><button class="dropdown-btn"><a href="#">Ofertas</a></button></li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                            <a href="#">Link 4</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</header>
