<!DOCTYPE html>
<html lang="en">

<%- include("partials/head")%>
<%- include("partials/header")%>
<body>
    <section>
        <div class="main-img">
            <div class="wrapper">
                <a href="#section-3">Navegar!</a>
            </div>
            <img class="img-m" src="\images\main-img.jpg" alt="imágen principal">
        </div>
    </section>
    <section id="section-3">
        <div class="container__slider">

            <div class="container">
                <input type="radio" name="slider" id="item-1" checked>
                <input type="radio" name="slider" id="item-2">
                <input type="radio" name="slider" id="item-3">

                <div class="cards">
                    <label class="card" for="item-1" id="selector-1">
                        <img src="\images\Tarjeta-Unisex.png">
                    </label>
                    <label class="card" for="item-2" id="selector-2">
                        <img src="\images\Tarjeta-Mujeres.png">
                    </label>
                    <label class="card" for="item-3" id="selector-3">
                        <img src="\images\Tarjeta-Hombres.png">
                    </label>

                </div>
            </div>

        </div>
    </section>
    <h1 class="titleSection">Encuentra tu estilo favorito</h1>
    <section id="section-2">
        <div class="card">
            <div class="imgBoxCard">
                <img class="img-product" src="\images\product1.jpg" alt="producto">
            </div>
            <div class="detailsCard">
                <div class="title">
                    <h3>Chaqueta de jean</h3>
                    <small>Chaqueta unisex</small>
                </div>
                <div class="description">
                    <h3>Descripción</h3>
                    <p>Hola soy una chaqueta Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui,
                        earum aliquam consectetur numquam quasi minus sunt corporis impedit voluptatum!</p>
                </div>
                <div class="size">
                    <h4>Tallas</h4>
                    <ul>
                        <li>S</li>
                        <li>M</li>
                        <li>L</li>
                    </ul>
                </div>
                <div class="buy">
                    <div class="price">
                        <sup>COP</sup>
                        <span>$250.000</span>
                    </div>
                    <div class="btnbuy">
                        <!--Falta crear el botón con una imagencita -->
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBoxCard">
                <img class="img-product" src="\images\product1.jpg" alt="producto">
            </div>
            <div class="detailsCard">
                <div class="title">
                    <h3>Chaqueta de jean</h3>
                    <small>Chaqueta unisex</small>
                </div>
                <div class="description">

                    <h3>Descripción</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, nisi ab? Vitae labore eaque nulla
                        tempore libero! Ex, sapiente quos.</p>
                </div>
                <div class="size">
                    <h4>Tallas</h4>
                    <ul>

                        <li>S</li>
                        <li>M</li>
                        <li>L</li>


                    </ul>
                </div>
                <div class="buy">
                    <div class="price">
                        <sup>COP</sup>
                        <span>$250</span>
                    </div>
                    <div class="btnbuy">
                        <!--Falta crear el botón con una imagencita -->
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBoxCard">
                <img class="img-product" src="\images\product1.jpg" alt="producto">
            </div>
            <div class="detailsCard">
                <div class="title">
                    <h3>Chaqueta de jean</h3>
                    <small>Chaqueta unisex</small>
                </div>
                <div class="description">
                    <h3>Descripción</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui, earum aliquam consectetur
                        numquam quasi minus sunt corporis impedit voluptatum!</p>
                </div>
                <div class="size">
                    <h4>Tallas</h4>
                    <ul>

                        <li>S</li>
                        <li>M</li>
                        <li>L</li>


                    </ul>
                </div>
                <div class="buy">
                    <div class="price">
                        <sup>COP</sup>
                        <span>$250.000</span>
                    </div>
                    <div class="btnbuy">
                        <!--Falta crear el botón con una imagencita -->
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBoxCard">
                <img class="img-product" src="\images\product1.jpg" alt="producto">
            </div>
            <div class="detailsCard">
                <div class="title">
                    <h3>Chaqueta de jean</h3>
                    <small>Chaqueta unisex</small>
                </div>
                <div class="description">
                    <h3>Descripción</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui, earum aliquam consectetur
                        numquam quasi minus sunt corporis impedit voluptatum!</p>
                </div>
                <div class="size">
                    <h4>Tallas</h4>
                    <ul>

                        <li>S</li>
                        <li>M</li>
                        <li>L</li>


                    </ul>
                </div>
                <div class="buy">
                    <div class="price">
                        <sup>COP</sup>
                        <span>$250.000</span>
                    </div>
                    <div class="btnbuy">
                        <!--Falta crear el botón con una imagencita -->
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <%- include("partials/footer") %> 
</body>

</html>