<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/main-section-style.css">
    <link rel="stylesheet" href="/css/section2-Styles.css">
    <link rel="stylesheet" href="/css/footer-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Jacket Shop</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="navbar-top">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="logo">
                    <img src="\images\Jacket Shop-logo-white.png" alt="logo blanco">
                </div>
                <div class="icons-navbar">
                    <div class="user">
                        <i class="fas fa-user"></i>
                        <p>Ingresa</p>
                    </div>
                    <div class="shopping-car">
                        <i class="fas fa-shopping-cart"></i>
                        <p>Carrito</p>
                    </div>
                    <div class="mode">
                        <i class="fas fa-sun"></i>
                        <p>Modo</p>
                    </div>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar">
                    <div class="search">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="navbar-bottom">
                <div class="list-navbar">
                    <ul>
                        <li type="none"><a href="#">Mujer</a></li>
                        <li type="none"><a href="#">Hombre</a></li>
                        <li type="none"><a href="#">Lo nuevo</a></li>
                        <li type="none"><a href="#">Ofertas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="main-img">
            <div class="wrapper">
                <a href="#section-2">Navegar!</a>
            </div>
            <img class="img-m" src="\images\main-img.jpg" alt="imágen principal">
        </div>
    </section>
    <h1 class="titleSection">Encuentra tu estilo favorito</h1>
    <section id="section-2">
        <div class="card">
            <div class="imgBoxCard">
                <img class="img-product" src="\images\product1.jpg" alt="producto">
            </div>
            <div class="detailsCard">
                <div class="title">
                    <h3>Chaqueta de jean</h3>
                    <small>Chaqueta unisex</small>
                </div>
                <div class="description">
                    <h3>Descripción</h3>
                    <p>Hola soy una chaqueta Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui,
                        earum aliquam consectetur numquam quasi minus sunt corporis impedit voluptatum!</p>
                </div>
                <div class="size">
                    <h4>Tallas</h4>
                    <ul>
                        <li>S</li>
                        <li>M</li>
                        <li>L</li>
                    </ul>
                </div>
                <div class="buy">
                    <div class="price">
                        <sup>COP</sup>
                        <span>$250.000</span>
                    </div>
                    <div class="btnbuy">
                        <!--Falta crear el botón con una imagencita -->
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBoxCard">
                <img class="img-product" src="\images\product1.jpg" alt="producto">
            </div>
            <div class="detailsCard">
                <div class="title">
                    <h3>Chaqueta de jean</h3>
                    <small>Chaqueta unisex</small>
                </div>
                <div class="description">
                    <h3>Descripción</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, nisi ab? Vitae labore eaque nulla tempore libero! Ex, sapiente quos.</p>
                </div>
                <div class="size">
                    <h4>Tallas</h4>
                    <ul>

                        <li>S</li>
                        <li>M</li>
                        <li>L</li>


                    </ul>
                </div>
                <div class="buy">
                    <div class="price">
                        <sup>COP</sup>
                        <span>$250</span>
                    </div>
                    <div class="btnbuy">
                        <!--Falta crear el botón con una imagencita -->
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBoxCard">
                <img class="img-product" src="\images\product1.jpg" alt="producto">
            </div>
            <div class="detailsCard">
                <div class="title">
                    <h3>Chaqueta de jean</h3>
                    <small>Chaqueta unisex</small>
                </div>
                <div class="description">
                    <h3>Descripción</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui, earum aliquam consectetur
                        numquam quasi minus sunt corporis impedit voluptatum!</p>
                </div>
                <div class="size">
                    <h4>Tallas</h4>
                    <ul>

                        <li>S</li>
                        <li>M</li>
                        <li>L</li>


                    </ul>
                </div>
                <div class="buy">
                    <div class="price">
                        <sup>COP</sup>
                        <span>$250.000</span>
                    </div>
                    <div class="btnbuy">
                        <!--Falta crear el botón con una imagencita -->
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <h3>Siguenos en nuestras redes:</h3>
        <div class="social-media">
            <div class="icon-footer">
                <i class="fab fa-facebook"></i>
            </div>
            <div class="icon-footer">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="icon-footer">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </footer>
</body>

</html>