<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;900&display=swap"
    rel="stylesheet">
<%- include("partials/head")%>
    <%- include("partials/header")%>

        <style>
            .bg {
                background-image: url(imgBootstrap/imgLogin.jpg);
                background-position: center center;
                display: block;
            }

            .container form .mb-4 {
                width: 600px;
            }

            .container .d-grid {
                width: 200px;
            }

            .container form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        </style>

        <body>

            <div class="container">

                <div class="col text-center">
                    <h2 class="fw-bold text-center py-5 registerheader">Bienvenido a Jacket Shop</h2>

                    <!--Login-->
                    <form action="/user/login" method="post">
                        <div class="mb-4">
                            <label for="email" class="surnamereg"><span class="fullnamelabel">Correo
                                    electrónico</span></label><br>
                            <input aria-invalid="false" id="email" name="email" type="text" maxleght="64"
                                class="fullnamereg" id="email">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="surnamereg"><span
                                    class="fullnamelabel">Contraseña</span></label>
                            <input aria-invalid="false" id="password" name="password" type="password" minleght="7"
                                maxleght="64" class="passwordreg" id="password">
                        </div>
                        <div class="mb-4 form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Recordarme</label>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button>
                        </div>

                        <div class="my-3">
                            <span>¿No tienes cuenta? <a href="/user/register">Registrarse</a></span>
                        </div>
                    </form>
                </div>
            </div>

            <!--<main>
    <section class="form-login">
        <h3>Inicio sesion</h3>
    <form action="" class="login">  
            <input class="control" type="text" name="Usuario" value="" placeholder="Usuario">
            <input class="control" type="password" name="Contraseña" value="" placeholder="Contraseña">
            <input class="button" type="submit" name="" value="Ingresar">
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </form>  
  
   </section>
   </main>-->

            <%- include("partials/footer") %>
        </body>

</html>