<!DOCTYPE html>
<html lang="en">

<%- include("partials/head")%>
<%- include("partials/header")%>
<body>
    <h1 class="titleAddProduct">Agregar Producto</h1>
    <br>
    <section class="formProductAdd">
        <form action="/products/" method="post" enctype="multipart/form-data">
            <label for="name">Nombre </label>
            <p><input type="text" name="name" id="" required></p>
            <label for="description">Descripción </label>
            <p><input type="text" name="description" id="" required> </p>
            <label for="image">Fotos </label>
            <p><input type="file" name="image" id=""></p>
            <label for="category_id">Categoria </label>
            <p><input type="text" name="category_id" id="" required></p>
            <label for="material_id">Materiales </label>
            <p><input type="text" name="material_id" id="" required></p>
            <label for="color_id">Color </label>
            <p><input type="text" name="color_id" id="" required></p>
            <select name="size_id">
                <option selected disabled>Seleciona una talla -</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                <option>XXL</option>
            </select>
            <label for="price">Precio </label>
            <p><input type="number" name="price" id="" required></p>
            <br>
            <p> <button class="buttonAdd" type="submit">Agregar</button>
            
            <a  class="buttonBackProducts" href="/products">Listado de Productos</a></p>
        </form>
    </section>
    <%- include("partials/footer") %> 
</body>

</html>