<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productDetail-Styles.css">
<%- include("partials/head")%>
<%- include("partials/header")%>
<body>
    <div class="product">
        <div class="product-small-img">

            <img src="\images\product1.jpg" onclick="myFunction(this)">
            <img src="\images\Tarjeta-Hombres.png" onclick="myFunction(this)">
            <img src="\images\product1.jpg" onclick="myFunction(this)">
            <img src="\images\product1.jpg" onclick="myFunction(this)">

        </div>

        <div class="container-full-img">

            <img id="imgContainerBox"src="\images\product1.jpg">
            
        </div>

        <div class="productDescription">
            <p>Inicio/Productos/Chaquetas</p>
            <h1>Chaqueta de Jean</h1>
            <h4>%350.000 COP</h4>
            <select>
                <option>Seleccione Talla</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                <option>XXL</option>
            </select>
            <input type="number" value="1">
            <button class="btnComprar">Comprar</button>

            <h3>Detalle del producto</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
                printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
    <script>
        function myFunction(smallImg){
            var fullImg= document.getElementById("imgContainerBox");
            fullImg.src = smallImg.src;
        }
    </script>
    

    <%- include("partials/footer") %> 
</body>

</html>