<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>
    <%- include("partials/header")%>

        <body>
            <main>
                <section>
                    <h1 class="title-users">Mi perfil</h1>
                    <div class="all-users">

                        <div class="user-detail">
                            <h4>
                                <%= userLogged.first_name  %>
                                
                            </h4>
                            <p>
                                
                            </p>
                        </div>
                        </article>
                        </a>
                    </div>
                </section>
            </main>
            <%- include("partials/footer") %>
        </body>

</html>