<!DOCTYPE html>
<html lang="en">

<%- include("partials/head")%>
<%- include("partials/header")%>
<body>
 <H1>Página de todos los usuarios</H1>
    
 <%- include("partials/footer") %> 
</body>
</html>