.product-small-img img{
    height: 90px;
    width: 90px;
    margin: 10px 0;
    cursor: pointer;
    opacity: .6;
}

.product-small-img img:hover {
    opacity: 1;
}

.product-small-img{
    float: left;
    display: flex;
    flex-direction: column;
}
.container-full-img img{
    height: 600px;
}

.container-full-img{
    float: right;
    padding-left: 50px;
}

.product{
    top: 25%;
    left: 50px;
    display: flex;
}

.productDescription{
    padding-left: 30px;
}

.productDescription h1{
    margin-bottom: 10px;
}

.productDescription select{
    margin-bottom: 10px;
}

.productDescription h4{
    margin-bottom: 10px;
    color:dimgrey;
}

.productDescription input{
    margin-bottom: 10px;
    width: 40px;  
}

.productDescription button{
    margin-bottom: 20px;
}